#tablaForm{
    background-color: grey;
    text-align: center;
    border-collapse:collapse;
}
.datos{
    text-align: left;
    padding: 10px;
}
.datosTurno{
    text-align: right;
    padding: 10px;
}
.turnoDescription{
    text-align: left;
}
input{
    width: 90%;
}
table td{
    color: black;
    font-weight: 800;
}

